.container {
    position: relative;
    z-index: 0;
}

/*Placerar stjärnan ovanpå bilden.*/
.star {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 30px;
    height: 30px;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    animation: shine 2s infinite alternate;
}

/*Stiger i opacity och storlek. Centrerar stjärnan med translateX(-50%).*/
@keyframes shine {
    0% {
        opacity: 0.2;
        transform: scale(1) translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: scale(2.5) translateX(-50%);
    }
}

.btnContainer {
    text-align: center;
}

button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #C50000;
    color: #F1F1F1;
    cursor: pointer;
    margin-bottom: 20px;
}

.loadContainer {
    height: 25px;
    width: 100%;
    background-color: lightgrey;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
}

.loading {
    height: 25px;
    width: 0%;
    background-color: purple;
    margin-bottom: 30px;
    transition: width 4s linear;
    border-radius: 5px;
    box-sizing: border-box;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: purple;
    border-radius: 50px;
    animation: moveCircle 4s infinite linear alternate-reverse;
    margin-bottom: 20px;
}

/*Jag använde transform först men hade svårt att få den responsiv så då använde jag margin tillslut*/
@keyframes moveCircle {
    from {
        margin-left: calc(100% - 50px);
        /*Använder calc för att se till att cirkeln inte går utanför.*/
    }

    to {
        margin-left: 0;
    }
}